<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <h1>404</h1>
    <p>{{ link }} could not be found</p>
    <a href="/"><button>Go back to main page</button></a>
    <style>
      body {
        font-family: sans-serif;
      }
      button {
        border-radius: 10px;
        border-color: transparent;
        color: white;
        padding: 5px;
        background-color: rgb(55, 55, 194);
      }
    </style>
  </body>
</html>
